<h1>Flight Selection</h1>

<%= form_with(url: flights_path, method: :get, local: true) do %>
  <%= label_tag(:from_airport_id, "Departing from: ")%>
  <%= select_tag(:from_airport_id, options_for_select(@from_airport_options))%>
  <br>
  <%= label_tag(:to_airport_id, "Destination: ")%>
  <%= select_tag(:to_airport_id, options_for_select(@to_airport_options))%>
  <br>
  <%= label_tag(:passengers, "Passenger Count: ")%>
  <%= select_tag(:passengers, options_for_select([['1',1], ['2',2], ['3',3], ['4',4]]))%>
  <br>
  <%= label_tag(:date, "Date: ")%>
  <%= select_tag(:date, options_from_collection_for_select(Flight.select('date').order('date ASC').distinct, :date, :date_formatted)) %>
  <br>
  <%= submit_tag("Search") %>
<% end %>

<% if @flights%>
  <%= form_with(url: new_booking_path, method: :get, local: true) do %>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>From</th>
          <th>To</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody>
        <% @flights.each do |flight|%>
        <tr>
          <td><%= flight.date_formatted%></td>
          <td><%= flight.time_formatted%></td>
          <td><%= flight.from_airport.code%></td>
          <td><%= flight.to_airport.code%></td>
          <td><%= flight.duration%></td>
          <td><%= hidden_field_tag 'passengers', @passengers%></td>
          <td><%= radio_button_tag(:flight, flight.id)%></td>
          <br>
        </tr>
        <tr>
          <td><%= submit_tag("Search") %></td>
        </tr>
        <% end %>
      </tbody>
  </table>
  <%end%>
<%end%>
      
